.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 5vw, 40px);
  padding: 170px 150px 74px;
}

.section {
  width: 100%;
  max-width: 1280px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: clamp(25px, 6.5vw, 111px);
}

.gallerySection {
  width: 100%;
  max-width: 946px;
  align-self: center;
}

@media (max-width: 1024px) {
  .page {
    padding: 145px 100px;
  }
}

@media (max-width: 640px) {
  .page {
    padding: 145px 50px 50px;
  }
}
