.button {
  border-radius: var(--radius-pill);
  padding: 14px 23px;
  border: 1px solid transparent;
  transition: transform 0.2s ease-in-out, background 0.3s ease, color 0.3s ease;
  font-family: var(--font-primary);
  cursor: pointer;
}

.button:hover {
  transform: translateY(1px);
}

.button:active {
  transform: translateY(2px);
}

.button--dark {
  background: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-dark);
}

.button--light {
  background: var(--color-light);
  color: var(--color-dark);
  border-color: var(--color-light);
}

.button--outline {
  background: transparent;
  color: var(--color-light);
  border-color: var(--color-light);
}

.button--large {
  min-width: 163px;
}

.button--pad-narrow {
  padding-left: 23px;
  padding-right: 23px;
}

.button--pad-wide {
  padding-left: 59px;
  padding-right: 59px;
}

.button--fullWidth {
  width: 100%;
}

.button--maxWidth {
  max-width: 222px;
  width: 100%;
}
