.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.wrapper :global(svg) {
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: block;
}

.wrapper :global(path) {
  stroke: var(--color-accent-pattern);
  stroke-width: 1.4;
  fill: var(--color-accent-pattern);
}
