@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillIn {
  to {
    fill-opacity: 1;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.wrapper :global(svg) {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper :global(path) {
  stroke: #11271f10;
  fill: #11271f10;
  fill-opacity: 0;
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.animate {
  opacity: 1;
}

/* Анимация применяется только когда .animate добавлен */
.animate :global(path:nth-of-type(1)) {
  animation:
    draw 10s ease-in-out 0.1s forwards,
    fillIn 1.5s ease-in 0.8s forwards;
}

.animate :global(path:nth-of-type(2)) {
  animation:
    draw 10s ease-in-out 4.2s forwards,
    fillIn 1.5s ease-in 5s forwards;
}

.animate :global(path:nth-of-type(3)) {
  animation:
    draw 10s ease-in-out 8.4s forwards,
    fillIn 1.5s ease-in 9.2s forwards;
}

@media (max-width: 600px) {
  .wrapper {
    width: 600px;
    justify-content: flex-start;
  }
  
  .wrapper :global(svg) {
    width: 100%;
    height: auto;
    display: block;
  }
}