.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.wrapper :global(svg) {
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: block;
}

.wrapper :global(path) {
  fill: var(--color-accent-pattern);
  stroke: var(--color-accent-pattern);
  stroke-width: 6; /* чуть толще, имитирует заливку */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: draw 8s ease-in-out forwards;
}

.wrapper :global(path:nth-of-type(odd)) {
  animation-delay: 0.3s;
}
.wrapper :global(path:nth-of-type(3n)) {
  animation-delay: 0.6s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}



